In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('./csv/output.csv')
#dfPopGrow = pd.read_csv('./csv/API_SP.POP.GROW_DS2_en_csv_v2_429579.csv')
#dfPopTotl = pd.read_csv('./csv/API_SP.POP.TOTL_DS2_en_csv_v2_422125.csv')
#dfPopTotlFem = pd.read_csv('./csv/API_SP.POP.TOTL.FE.IN_DS2_en_csv_v2_450007.csv')
#dfPopTotlMa = pd.read_csv('./csv/API_SP.POP.TOTL.MA.IN_DS2_en_csv_v2_423694.csv')

In [13]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Mexico,MEX,Population growth (annual %),SP.POP.GROW,1.415823e+00,1.456208e+00,1.486064e+00,1.495369e+00,1.476758e+00,1.438142e+00,1.394793e+00,1.355289e+00,1.315561e+00,1.277676e+00,1.241178e+00,1.203251e+00,1.163968e+00,1.126421e+00
1,Mexico,MEX,"Population, total",SP.POP.TOTL,1.060052e+08,1.075602e+08,1.091705e+08,1.108153e+08,1.124639e+08,1.140930e+08,1.156955e+08,1.172742e+08,1.188272e+08,1.203551e+08,1.218583e+08,1.233334e+08,1.247773e+08,1.261908e+08
2,Mexico,MEX,"Population, female",SP.POP.TOTL.FE.IN,5.416835e+07,5.497186e+07,5.578902e+07,5.661502e+07,5.744295e+07,5.826718e+07,5.908605e+07,5.989883e+07,6.070189e+07,6.149130e+07,6.226408e+07,6.301802e+07,6.375282e+07,6.446997e+07
3,Mexico,MEX,"Population, male",SP.POP.TOTL.MA.IN,5.183685e+07,5.258830e+07,5.338148e+07,5.420026e+07,5.502094e+07,5.582578e+07,5.660943e+07,5.737532e+07,5.812527e+07,5.886383e+07,5.959417e+07,6.031536e+07,6.102450e+07,6.172082e+07

In [27]:
popGrowYear = df.take([0])
popGrowYear

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Mexico,MEX,Population growth (annual %),SP.POP.GROW,1.415823,1.456208,1.486064,1.495369,1.476758,1.438142,1.394793,1.355289,1.315561,1.277676,1.241178,1.203251,1.163968,1.126421

In [28]:
popGrowTrimester

                                           0
Country Name                          Mexico
Country Code                             MEX
Indicator Name  Population growth (annual %)
Indicator Code                   SP.POP.GROW
2005                                 1.41582
2006                                 1.45621
2007                                 1.48606
2008                                 1.49537
2009                                 1.47676
2010                                 1.43814
2011                                 1.39479
2012                                 1.35529
2013                                 1.31556
2014                                 1.27768
2015                                 1.24118
2016                                 1.20325
2017                                 1.16397
2018                                 1.12642

KeyError: '0'